{% extends 'layout.html' %} {# Hacemos uso del marcro '_forms' para renderizar
inputs #}{% from 'helpers/_forms.html' import render_field %} {% block container
%}
<div class="col-md-12 col-md-offset-1">
  <h3>Login</h3>
  <form method="POST">
    {# Hacemos uso de la función csrf_token() para la protección del formulario
    #}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-group">
      {# render_field -> renderizar inputs #} {# form -> Lo pasamos desde el
      template #} {{ render_field(form.username, class='form-control',
      placeholder='username') }}
    </div>

    <div class="form-group">
      {{ render_field(form.password, class='form-control',
      placeholder='password') }}
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock container %}
